<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Squadpage</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/styles/nav.css">
    

  </head>

  <header>
    <nav class="nav">
        <div class="qatarMuseumsLogo">
            <a href="/">
                <img src="" alt="">
            </a>
        </div>
        <ul>
            <li>
                <a href="">Stories</a>
            </li>
            <li>
                <a href=""> What's on</a>
            </li>
            <li>
                <a href="">Visit</a>
            </li>
            <li>
                <a class="button" href=""> Tickets </a>
            </li>
            <li>
                <a href="">venues </a>
            </li>
            <li>
                <a href="">عربي</a>
            </li>
            <div class="menu">
                <li>
                    <a href="">Menu</a>
                </li>
            </div>
        </ul>
    </nav>
  </header>
  <body>