{% render 'partials/head.liquid' %}
<link rel="stylesheet" href="/styles/404.css">

<main>
    <article class="animation-container">
        <h1 class="error-code"> 404 </h1>
      </article>
      <article class="error-container">
          <h3>page not found</h3>
          <a href="/">Go back</a>
      </article>
</main>