{% render 'partials/head.liquid' %}
<link rel="stylesheet" href="/styles/home.css">

<main class="gallery-main">
    <!--
    <section class="gallery-title">
        <h1>Welcome to the Gallery</h1>
    </section>
    -->
    <section class="all-objects">
        <ul class="object-container">
            {% for art_object in art_objects %}
            <li>
                <article class="object">
                    <a href="/art/{{art_object.id}}">
                        <img src="https://fdnd-agency.directus.app/assets/{{ art_object.image }}" alt="">
                        <p> {{art_object.title}} <p>
                    </a>
                </article>
            </li>
            {% endfor %}
        </ul>
        <button class="fullscreen fullscreen-inactive"><img src="/assets/icons/screensize/expand.png" alt=""></button>
        <button class="smallscreen fullscreen-active"><img src="/assets/icons/screensize/arrows.png" alt=""></button>
    </section>

    <section class="qatar-museum">
        <a href=""><h3>Visit Qatar Museum</h3></a>
    </section>

    <section class="filter-and-search-container fullscreen-active">
        <ul class="filter-container">
            <li class="filter-button">
                <button>All objects</button>
            </li>
            <li class="filter-button">
                <button>Pottery</button>
            </li>
            <li class="filter-button">
                <button> Islamic art</button>
            </li>
            <li class="filter-button">
                <button> Tapestry</button>
            </li>
            <li class="filter-button">
                <button>Glass</button>
            </li>
        </ul>

        <form role="search" action="" class="search-bar" >
            <label for="search"></label>
            <input class="search-input" type="search" name="search" placeholder="look through the art" aria-placeholder="type to search">
        </form>
    </section>
</main>
<script src="/script/qatarmuseum.js"></script>
<!--
<script>
    document.addEventListener("DOMContentLoaded", function () { // add event
      const container = document.querySelector(".object-container"); //select
  
      function duplicateItems() { // interaction
        const items = container.innerHTML; 
        container.innerHTML += items;
      }
  
      duplicateItems(); 
      setInterval(duplicateItems, 5000); 
    });
  </script>
-->

<script>
    
</script>
{% render 'partials/foot.liquid' %}