{% render 'partials/head.liquid' %}
<link rel="stylesheet" href="/styles/home.css">

<main>
    <ul class="object-container">
        {% for art_object in art_objects %}
        <li>
            <article class="object">
                <a href="/art/{{art_object.id}}">
                    <img src="https://fdnd-agency.directus.app/assets/{{ art_object.image }}" alt="">
                    <p> {{art_object.title}} <p>
                </a>
            </article>
        </li>
        {% endfor %}
    </ul>
</main>


<script>
    document.addEventListener("DOMContentLoaded", function () { // add event
      const container = document.querySelector(".object-container"); //select
  
      function duplicateItems() { // interaction
        const items = container.innerHTML; 
        container.innerHTML += items;
      }
  
      duplicateItems(); 
      setInterval(duplicateItems, 5000); 
    });
  </script>

{% render 'partials/foot.liquid' %}