{% render 'partials/head.liquid' %}
<link rel="stylesheet" href="/styles/home.css">

<main>
    <ul class="object-container">
        {% for art_object in art_objects %}
        <li>
            <article class="object">
                <a href="/art/{{art_object.id}}">
                    <img src="https://fdnd-agency.directus.app/assets/{{ art_object.image }}" alt="">
                    <p> {{art_object.title}} <p>
                </a>
            </article>
        </li>
        {% endfor %}
    </ul>
</main>


{% render 'partials/foot.liquid' %}