
.gallery-main{
    background-color: var(--color-white);

    @media (min-width: 800px) {
        width: 95vw;
        margin: 1.25em;
    }
}

/**/

.all-objects{
    position: relative;
    height: 60vw;
    overflow: scroll;
    z-index: 2;
    border: var(--border);
    transition: all 0.5s ease-in-out;
    background-color: var(--color-dark-grey);

    @media (min-width: 800px) {
        height: 25vw;
    }
}

.all-objects:active{
    overflow: none;
    border: none;
    width: 95vw;
    height: 100vh;
}

::-webkit-scrollbar {
    display: none;
}

.fullscreen, .smallscreen {
    position: sticky;
    bottom: 0;
    background-color: var(--color-yellow);
    transition: background-color 0.3s ease; 
    width: 4em;
    height: 4em;

}

.fullscreen img,  .smallscreen img{
    width: 2.7em;
    height: 2.7em;
}

.fullscreen:hover, .smallscreen:hover {
    background-color: transparent;
    border: none;
    backdrop-filter: blur(10.2px);
    -webkit-backdrop-filter: blur(10.2px);
}

.smallscreen{
    display: none;
}

.smallscreen:active{
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
}

.fullscreen:active{
    display: none;
}

/*object container*/

.object-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: .15em;
    animation: scrollLoop 10s linear infinite;
    padding: .75em;

   @media (min-width: 530px) {
    grid-template-columns: repeat(3,1fr);
    }
   
   @media (min-width: 800px) {
    grid-template-columns: repeat(3,1fr);
    }
   
   @media (min-width: 1480px) {
    grid-template-columns: repeat(4,1fr);
    }
}
 
 
 ul li{
    list-style: none;
}


.object img{
    border-radius: 2.5%;
    width: 35vw;
    box-shadow: var(--black);
    

    @media (min-width: 530px) {
        width: 26vw;

    }
   
   @media (min-width: 800px) {
      width: 29vw;
   
    }
   
   @media (min-width: 1480px) {
      width: 23vw;
   
    }
}

.object p{
    display: none;
}
/*filter and search section*/

.filter-and-search-container{
    visibility: hidden
}

.filter-container{
    display: flex;
    align-items: center;
}

.filter-button button{
    background-color: var(--color-black);
    color: var(--color-white);
    border: var(--border-white);
    padding: .75em;
    font-size: var(--h6-font-size);
}

.filter-button button:hover {
    background-color: var(--color-yellow);
    color: var(--color-black);
    padding: .75em;
    transition: ease-in-out .125s;
}

.filter-and-search-container{
    display: none;

}

.filter-and-search-container:active{
    display: block;

    @media (min-width: 800px) {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-bottom: 2em;
    }
}

.search-input{
    padding: .75em;
    background-color: var(--color-black);
    color: var(--color-white);
    font-size: var(--h4-font-size);
    border: var(--border-white);
}

/*rest of the homepage*/
.home-page:active{
    display: block;
}

.visit{
    position: relative;
    display: inline-block;
    padding: .5em;
    border: var(--border);
    background-color: var(--color-white);
    z-index: 5;
    left: 30%;
    transform: translateX(-50%) translateY(-30%);
    width: 30vw;

    @media (min-width: 530px) {
        left: 50%;
    }
   
}

.qatar-museum a{
    text-decoration: none;
}

.qatar-museum a:hover{
    text-decoration: underline;
}

.visit p{
    border-top: var(--border);
    padding: .25em;
}

.welcome{
    border-top: var(--border);
    border-bottom: var(--border);
}
/*museum container styling*/

.musuems-container ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    position: relative;

    @media (min-width: 530px) {
        justify-content: center; 
        flex-direction: row;
        align-items: stretch;
    }
}

.musuems-container li {
    flex: 1; 
    position: relative;
}

.museum{
    border: var(--border);
    padding: .5em;
    display: inline-block;
    transition: transform 0.3s ease-in-out;
    width: 100%;

    background-color: var(--color-white);
    @media (min-width: 530px) {
        
    }
}

.museum img{
    width: 65vw;
    display: block;

    @media (min-width: 530px) {
        width: 17vw;
    }
}


.museum h2{
    width: 65vw;
    margin: 0;

    @media (min-width: 530px) {
        width: 17vw;
    }
}

/*museum container animation*/
/* Calculate positions dynamically */
.museum:nth-child(n) {
    z-index: calc(5 - var(--index));
    transform: translateX(calc(-10% * var(--index)));
}

/* Hover effect: move slightly left */
.museum:nth-child(n):hover {
    transform: translateX(calc(-15% * var(--index) - 5%));
    text-decoration: underline;

}

.museum:nth-child(n):active {
    z-index: calc(5 - var(--index));
    transform: translateX(calc(-10% * var(--index)));
    width: 100%;
}


/* Assign index values using CSS variables */
.museum:nth-child(1) { --index: 0; }
.museum:nth-child(2) { --index: 1; }
.museum:nth-child(3) { --index: 2; }
.museum:nth-child(4) { --index: 3; }
.museum:nth-child(5) { --index: 4; } 