.object-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: .5em;
    animation: scrollLoop 10s linear infinite;

   @media (min-width: 530px) {
    grid-template-columns: repeat(3,1fr);
    }
   
   @media (min-width: 800px) {
    grid-template-columns: repeat(3,1fr);
    }
   
   @media (min-width: 1480px) {
    grid-template-columns: repeat(5,1fr);
    }
}
 
 
 ul li{
    list-style: none;
}


.object img{
    width: 35vw;
    /*border-radius: 6.5%;*/

    @media (min-width: 530px) {
        width: 24vw;

    }
   
   @media (min-width: 800px) {
      width: 27vw;
   
    }
   
   @media (min-width: 1480px) {
      width: 16vw;
   
    }
}

.object{
    border: var(--border);
    display: inline-block;
    width: auto;
    height: auto;
    padding: .5em;
}

.object p{
    display: none;
}

.object:hover p{
    display: block;
    text-decoration: underline;
    width: 35vw;

    @media (min-width: 530px) {
        width: 24vw;

    }
   
   @media (min-width: 800px) {
      width: 27vw;
   
    }
   
   @media (min-width: 1480px) {
      width: 16vw;
   
    }

}
